# Outputs and Results
results/
main/results/
postproc/results/
inference/results/
postproc/insitu/results/

# Logs
logs/
*.log
*.out
*.err

# Data and Datasets
datasets/
data/
shape_files/
*.nc
*.hdf5
*.h5
*.tif
*.tiff
*.grib
*.grb

# Figures and Plots
*.png
*.pdf
*.jpg
*.jpeg

# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
env/
.conda/

# Ignore all experimental configs except retained
main/configs/cnn/*
!main/configs/cnn/retained/
!main/configs/cnn/retained/*

main/configs/glm/*
!main/configs/glm/retained/
!main/configs/glm/retained/*

main/configs/vit/*
!main/configs/vit/retained/
!main/configs/vit/retained/*

main/configs/unet/*
!main/configs/unet/retained/
!main/configs/unet/retained/*
